<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="localSettings" type="System.Configuration.AppSettingsSection">
			<section name="localConfigs" type="System.Configuration.AppSettingsSection" />
		</sectionGroup>
		<sectionGroup name="batchRunnerSettings" type="System.Configuration.AppSettingsSection">
			<section name="batchConfigs" type="System.Configuration.AppSettingsSection" />
			<section name="serviceConfigs" type="System.Configuration.AppSettingsSection" />
			<section name="dnsConfigs" type="System.Configuration.AppSettingsSection" />
		</sectionGroup>
	</configSections>
	<appSettings>
	</appSettings>
	<localSettings>
		<localConfigs>
			<add key="AppBaseUrl" value="http://localhost:61052/" />
			<add key="PangolinAppId" value="0ba76fcb-7131-4c3a-b9eb-8e23c830c824" />
			<add key="Download.Url" value="c:\download" />
			<add key="Headless" value="false" />
			<add key="EnableSnapshot" value="true" />
			<add key="AppPublishPath" value="C:\Projects\Demo\publish" />
			<add key="ConnectionStringKey" value="" />
			<add key="DataProviderType" value="" />
			<add key="Browser" value="Chrome" />
			<!--<add key="Browser" value="Firefox" />-->
		</localConfigs>
	</localSettings>
	<batchRunnerSettings>
		<batchConfigs>
			<add key="PangolinServer" value="http://pangolin.geeksltd.co.uk" />
			<add key="PangolinPublisherPath" value="C:\Projects\Pangolin.Publisher" />
			<add key="WebConfigPath" value="" />
		</batchConfigs>
		<serviceConfigs>
		</serviceConfigs>
		<dnsConfigs>
		</dnsConfigs>
	</batchRunnerSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>